# Ignore virtual environment
etfchatbotenv/


# Ignore training outputs
Models/Training

#Ignore the logs
logs/
*.log


#Ignore the llama.cpp
llama.cpp/

#Ignore the data folder
Data/


#Ignore the setupCheck.py as it contains sensitive information
Code/setupCheck.py


#Ignore the .env file
.env

#To ignore the large file
*.pt
*.safetensors

#To ignore the .pem files
*.pem

#To ignore the pycache
Code/Chatbot/__pycache__/
*.pyc
Code/Reportbot/__pycache__/